/*PAGINA MENÚ*/
/*Toda la pagina*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

/*Nombre del asadero y rol*/
.titulo_asadero{
    border: 6px solid black;
    width: auto;
    height: auto;
    padding: 4px;
    font-size: 13px;
    background-color: rgb(139, 2, 2);
    color: white;
}

/*header dimensiones para que las imagenes queden en fila y unidas*/
header div {
    border-bottom:4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*medidas de las tres imagenes del logotipo*/
.logo_arriba {
    width: 600px;
    height: 200px ;
}

/*main*/
main {
    display: flex;
    padding: 10px;
}

/*caja donde se encuentran las opciones*/
.sidebar {
    width: 280px;
    border: 4px solid black;
    padding: 10px;
    height: auto;
}

/*caja donde se encuentra Rol y nombre de usuario*/
.user-info {
    text-align: center;
    border: 4px solid black;
    padding: 8px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* tamaño de letra para rol */
.user-info h2 {
    font-size: 20px; 
}

/* tamaño de letra para usuario */
.user-info p {
    font-size: 20px; 
}

/*cajas de las opciones*/
.menu-item {
    display: block;
    width: 100%;
    height: 50px;
    padding: 8px;
    text-align: left;
    background-color: white;
    border: 4px solid black;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
/*hover*/
.menu-item:hover {
    background-color: rgba(20, 1, 124, 0.993);
    color: white ;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4); /* Más sombra al pasar el mouse */
}

/*boton cerrar*/
.menu-itemcerrar {
    display: block;
    width: 100%;
    height: 50px;
    padding: 8px;
    text-align: left;
    background-color: rgb(139, 2, 2);
    color: white;
    border: 3px solid black;
    font-size: 20px;
    text-align: center;    
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}
/*hover*/
.menu-itemcerrar:hover {
    background-color: white;
    color: rgb(139, 2, 2) ;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4); /* Más sombra al pasar el mouse */
}

/*SUBMENUS*/
/*medidas de las cajas de las opciones de despliegue*/
.submenu {
    display: none;
    padding-left: 10px;
    margin-bottom: 15px;
}

/*opciones de despliegue de cada gestion*/
.submenu button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border: none;
    cursor: pointer;
    color: #333;
}
/*hover*/
.submenu button:hover {
    background-color: #3da6fc;
}

/*pie de pagina*/
footer {
    border-top: 4px solid black;
    padding: 10px;
    text-align: center;
    background-color: burlywood ;
}
